<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/9de405eb76.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('navbar.ejs',{loggedin:false}) %>
    
    <div  style="width:600px;height:600px;margin-top: 10px;margin-left: auto;margin-right: auto;padding-top: 50px;">
        
        <h1 class="text-2xl py-2 font-bold">Learn to code - for free.</h1>
        <h1 class="text-2xl py-2  font-bold">Build projects</h1>
        <h1 class="text-2xl py-2  font-bold">Earn certifications</h1>
        <h1 class="text-xl py-2 ">Since 2014, more than 40000 freeCodecamp.org graduates have gotten jobs at tech companies including:</h1>
        <div class="py-6 flex justify-between">
          
            <i class="fa-brands fa-apple fa-2xl"></i>
            <i class="fa-brands fa-google fa-2xl"></i>
            <i class="fa-brands fa-microsoft fa-2xl" ></i>
            <i class="fa-brands fa-spotify fa-2xl"></i>
            <i class="fa-brands fa-amazon fa-2xl" ></i>

        </div>
        <div class="py-2 px-10 ">
            <button class="px-3 py-1 text-xl border-2 border-black text-black bg-yellow-500 font-bold" onclick="window.location.href='/login';">Get started (it's free)</button>
        </div>

    </div>
</body>
</html>